name: Documentation Checks
on:
  push:
    branches:
      - master
  pull_request:
    paths:
      - .markdownlinkcheck.json
      - .markdownlint.yml
      - .github/workflows/documentation.yml
      - docs/**

env:
  GO_VERSION: "1.18"
  GO111MODULE: on

jobs:
  markdown-link-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.1.1
      - uses: gaurav-nelson/github-action-markdown-link-check@1.0.15
        with:
          check-modified-files-only: 'yes'
          use-quiet-mode: 'yes'
          use-verbose-mode: 'yes'
          config-file: '.markdownlinkcheck.json'
          folder-path: 'docs'
          file-extension: '.md'
  markdown-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.1.1
      - uses: avto-dev/markdown-lint@v1.5.0
        with:
          config: '.markdownlint.yml'
          args: 'docs'
